__pycache__/
.env/
venv/
*.env
*.ipynb

notebooks/

*.ipynb_checkpoints/

# Raw data and data processing
*rawdata.csv
data/process_dataset.py
*.jsonl
predictions/
launcher/
saved/

logs/
*.log
.DS_Store
out_jobs/

results/
config.yaml
config.ini
cluster_config.ini
configs/

cot
